.app-container {
  display: flex;
  padding: 3em;
}

.profile-container {
  width: 20%;
}

/* NAVBAR */

.navbar {
  background-color: rgba(0, 0,0, .8);
  padding: 10px;
  height: 60px;
}

.navbar-logo-container {
  padding: 5px;
}

.navbar-logo-img {
  width: 55px;
  height: 55px;
  opacity: .6;
}

.navbar-logo-img:hover {
  opacity: 1;
}

/* PROFILE */

.profile-content-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.profile-avatar {
  width: 70%;
  height: auto;
  border: 7px solid rgba(0, 0,0, .3);
  border-radius: 50%;
  object-fit: cover;
}

.profile-name, .profile-avatar {
  align-self: center;
}

.profile-name {
  text-align: center;
}

.profile-login {
  font-weight: 300;
}

.profile-info {
  padding: 10px;
}

.profile-info-items {
  margin: 15px 0;
}

.profile-social-items {
  display: flex;
  align-content: center;
  gap: 7px;
}

.profile-info-item, .profile-social-item {
  margin: 8px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-info-icon {
  width: 15px;
  height: auto;
}

/* REPOSITORIES */

.repositories-header {
  font-weight: 300;
}

.repositories-list-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  flex-wrap: wrap;
}

.repositories-container {
  width: 95%;
  padding: 0 10px;
}

.single-repository-container {
  border:solid 1px rgba(0, 0,0, .1);
  border-radius: 10px;
  height: 200px;
  width: 49%;
}

.single-repository-content {
  padding: 10px 25px 20px 25px;
}

.single-repository-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-repository-name {
  color:royalblue;
  font-size: 20px;
  cursor: pointer;
}

.single-repository-name:hover {
  text-decoration: underline;
}

.single-repository-visibility-badge {
  border: 1px solid rgba(0, 0,0, .3);
  background-color: transparent;
  border-radius: 15px;
  padding: 4px 10px 7px 10px;
  align-items: center;
}

.single-repository-language-dot {
  background-color: #f1e05a;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.single-repository-info-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.single-repository-info-item {
  display: flex;
  align-items: center;
  gap: 5px;
}